a{
    color: white;
}

.button{
    display: inline-block;
}

.button-primary{
    font-size: 14px;
    font-family: "ProximaNovaSemiBold", sans-serif;
    padding:14px;
    border: 1px solid white;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-decoration: none;
    cursor: pointer;
}

.button-primary:hover{
    color: #ad733f;
    border: 1px solid #ad733f;
    text-decoration: none;
}