nav{
    background-color: black;
}

nav ul{
    width:960px;
    margin: auto;
    display: table;
    text-align: center;
}

nav ul li{
    display: table-cell;
    padding-top: 34px;
    padding-bottom: 34px;
}

nav ul li{
    font-family: "Didot", serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}