nav{
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    width: 100%;
    top:0px;
    z-index: 1000;
}

nav ul{
    width:100%;
    margin: auto;
    display: table;
    text-align: center;
}

nav ul li{
    font-family: "Didot", serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.emblem{
    padding-top: 0px;
    padding-bottom: 0px;
    position: absolute;
    left:50%;
    margin-left: -45px;
}

nav ul li a{
    color: #949494;
    text-decoration: none;
}

nav ul li.active a{
    color: #ad733f;
}

nav ul li a:hover{
    color: white;
    text-decoration: none;
}

@media only screen and (min-width: $screenSmall) {
    
    nav{
        background-color: rgba(0,0,0,0.9);
    }
    
    nav ul{
        display: block;
    }
    
    nav ul li{
        display: block;
    }
    
    nav ul li{
        padding-top: 18px;
        padding-bottom: 18px;
    }
    
    nav ul li.nav-spacer{
        width: 0px;
        height: 0px;
        display: none;
    }
    
    .emblem{
        display: none;
    }
}

@media only screen and (min-width: $screenMed) {
    
    nav{
        background-color: rgba(0,0,0,0.8);
    }
    
    nav ul{
        display: table;
    }
    
    nav ul li{
        display: table-cell;
    }
    
    nav ul{
        width:100%;
    }
    
    nav ul li{
        width: 158px;
        font-size: 10px;
    }
    
    nav ul li.nav-spacer{
        width: 90px;
        height: 20px;
        display: block;
    }
    
    .emblem{
        display: block;
    }
    
    nav ul li{
        display: table-cell;
        padding-top: 18px;
        padding-bottom: 24px;
    }
    
}

@media only screen and (min-width: $screenLarge) {
    
    nav ul{
        width:980px;
    }
    
    nav ul li{
        width: 200px;
        font-size: 12px;
    }
    
    nav ul li.nav-spacer{
        width: 100px;
        height: 20px;
    }
}