.award-listing-list{
    display: block;
    text-align: center;
    border-left: 1px solid white;
    border-right: 1px solid white;
    width:293px;
    margin:auto;
}

.award-listing-list li{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: 1px solid white;
}

.award-listing-list li:last-child{
    border-bottom: none;
}

.award-listing-list li h6{
    font-family: "ProximaNovaExtraBold", sans-serif;
    font-size:15px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.award-listing-list li span{
    font-family: "ProximaSemiExtraBold", sans-serif;
    font-size:14px;
    color: white;
}

.indv-product-section{
    background-size: cover;
    background-position:center center;
    position: relative;
}

.smoke img{
    max-height: 600px;
}

.footer-list{
    list-style: none;
}

.footer-list li span{
    color: #797979;
}

.footer-list li span.white{
    color: #ad733f;
}

.age-gate{
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    z-index: 5000;
    position: absolute;
    top:0px;
    left:0px;
    display: none;
}

.age-gate-inner{
    width:500px;
    height:500px;
    position: fixed;
    left:50%;
    top:100px;
    margin-left: -250px;
    background-image: url(../img/age-gate-background.png);
}

.age-gate-form{
    text-align: center;
    width: 350px;
    margin: auto;
}

.age-gate-form .button{
    margin-left: 10px;
    margin-right: 10px;
}

.full-emblem{
    margin-top: 30px;
    margin-bottom: 30px;
}

.wreath{
    pointer-events: none;
}

.stockist{
    font-family: 'ProximaNovaExtraBold';
    color: #c7c7c7;
}

.address{
    font-family: 'ProximaNovaSemiBold';
    color: #4a4a4a;
}

.phone{
    font-family: 'ProximaNovaSemiBold';
    color: #6b6b6b;
}

.stockist-list{
    list-style: none;
}

.stockist-list li{
    margin-bottom: 20px;
    display: block;
}

.stockist-list li span{
    display: block;
}

@media only screen and (min-width: $screenSmall) {
    
    .main-menu{
        display: none;
    }
    
    .age-gate-inner{
        top:10%;
    }
    
    .age-gate-form{
        width: 320px;
        padding-left: 3%;
        padding-right: 3%;
    }
    
    .full-emblem{
        margin-top: 3%;
        margin-bottom: 3%;
    }
    
    .creators-section{
        background-color: #02021b;
        height: auto;
    }
    
    .product-eaxample,.bottle-hero{
        width: 80%;
    }
    
    .creators-section{
        text-align: center;
        height: auto;
        background-image: url(../img/creators-background.jpg);
        background-position: bottom right;
        background-size: auto 400px;
        background-repeat: no-repeat;
        background-color: #02021b;
        padding-top: 10%;
        padding-bottom: 250px;
    }
    
    .product-section{
        padding-top: 10%;
        padding-bottom: 10%;
        height: auto;
        padding-bottom: 40px;
        background-image: url(../img/product-background.jpg);
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
        text-align: center;
    }
    
    .indv-product-section{
        text-align: center;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    
    .section-content-award{
        padding-top: 10%;
        padding-bottom: 10%;
        text-align: center;
    }
    
    .bottle{
        max-height: 350px;
        margin-top: 40px;
        margin-left: 0px;
    }
    
    .bottle-hero{
        max-width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10%;
    }
    
    .journey-section{
        text-align: center;
        height: auto;
        background-image: url(../img/journey-background-m.jpg);
        background-size: cover;
        background-position:top center;
        background-color: #02021b;
        padding-top: 10%;
    }
    
    .philosophy-section{
        text-align: center;
        background-image: url(../img/philosophy-background-m.jpg);
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
        height: auto;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    
    .stockists-section{
        padding-bottom: 10%;
        padding-top: 10%;
        text-align: center;
    }
    
    .stockists-section .sub-heading{
        margin-top: 5%;
    }
    
    .footer{
        text-align: center;
    }
    
    .footer iframe{
        margin-top: 20%;
    }
    
    .hamburger-menu-icon{
        position: fixed;
        top:10px;
        right:10px;
        background-color: rgba(0,0,0,0.6);
        padding:6px;
        z-index: 4999;
    }
}

@media only screen and (min-width: $screenMed) {
    
    .main-menu{
        display: block;
    }
    
    .footer iframe{
        margin-top: 0px;
    }
    
    .footer{
        text-align: left;
    }
    
    .indv-product-section{
        text-align: left;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .creators-section{
        height: 600px;
        background-image: url(../img/creators-background.jpg);
        background-position: 100px -100px;
        background-size: 903px 903px;
        background-repeat: no-repeat;
        background-color: #02021b;
        padding-top: 0px;
        text-align: left;
        padding-bottom: 0px;
    }
    
    .section-content{
        padding-top: 70px;
    }
    
    .section-content h1{
        margin: 0px 0px 16px 0px;
        line-height: 0px;
    }
    
    .product-section{
        text-align: left;
        height: auto;
        padding-bottom: 40px;
        background-image: url(../img/product-background.jpg);
        background-size: cover;
        background-position:top center;
        background-repeat: no-repeat;
        padding-top: 0px;
    }
    
    .indv-product-section{
        min-height: 500px;
        padding-bottom: 50px;
    }
    
    .section-content-award{
        margin-top: 86px;
    }
    
    .journey-section{
        text-align: left;
        height: auto;
        padding-top: 0px;
        padding-bottom: 40px;
        background-image: url(../img/journey-background.jpg);
        background-size: cover;
        background-position:top center;
        background-color: #02021b;
    }
    
    .bottle{
        max-height: 430px;
        margin-top: 40px;
        margin-left: 0px;
    }
    
    .bottle-hero{
        max-width: 100%;
        margin-top: 137px;
        margin-left: 0px;
    }
    
    .wreath{
        position: absolute;
        left: -250px;
        top: -20px;
        opacity: 0.1;
    }
    
    .philosophy-section{
        text-align: left;
        background-image: url(../img/philosophy-background-m.jpg);
        background-position:top center;
        background-size: 903px 903px;
        background-repeat: no-repeat;
        height: auto;
        padding-bottom: 40px;
        padding-top: 0px;
    }
    
    .stockists-section{
        padding-bottom: 40px;
        padding-top: 40px;
        text-align: left;
    }
    
    .stockists-section h1{
        margin-left: 12px;
    }
    
    .stockists-section .sub-heading{
        margin-top: 0px;
    }
    
    .product-eaxample{
        max-width: 100%;
        margin-top: 60px;
        margin-left: 10%;
    }
    
    .footer{
        background-color: black;
        padding: 40px 40px 60px 40px;
    }
}

@media only screen and (min-width: $screenLarge) {
    
    .product-section{
        height: auto;
        background-image: url(../img/product-background.jpg);
        background-size: cover;
        background-position:left top;
        background-repeat: no-repeat;
        padding-bottom: 0px;
    }
    
    .bottle{
        max-height: 430px;
        margin-left:0px;
    }
    
    .bottle-hero{
        max-height: 290px;
        margin-top: 137px;
    }
    
    .creators-section{
        height: auto;
        background-image: url(../img/creators-background.jpg);
        background-position: right -200px;
        background-size: 903px 903px;
        background-repeat: no-repeat;
        background-color: #02021b;
        padding-bottom: 40px;
    }
    
    .stockists-section{
        padding-bottom: 40px;
        padding-top: 40px;
    }
    
    .stockists-section h1{
        margin-left: 10px;
    }
    
    .wreath{
        position: absolute;
        left: -150px;
        top: -20px;
        opacity: 0.1;
    }
    
    .philosophy-section{
        background-image: url(../img/philosophy-background.jpg);
        background-position:top left;
        background-size: 1400px 1021px;
        background-repeat: no-repeat;
    }
    
    .product-eaxample{
        max-width: 80%;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    
    .footer{
        background-color: black;
        padding: 40px 40px 60px 40px;
    }
}