/* line 1, ../../sass/components/hero-slider.scss */
.swiper-container {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
}

/* line 7, ../../sass/components/hero-slider.scss */
.red-slide {
  background: #ca4040;
}

/* line 10, ../../sass/components/hero-slider.scss */
.blue-slide {
  background: #4390ee;
}

/* line 13, ../../sass/components/hero-slider.scss */
.orange-slide {
  background: #ff8604;
}

/* line 16, ../../sass/components/hero-slider.scss */
.green-slide {
  background: #49a430;
}

/* line 19, ../../sass/components/hero-slider.scss */
.pink-slide {
  background: #973e76;
}

/* line 22, ../../sass/components/hero-slider.scss */
.swiper-slide .title {
  font-style: italic;
  font-size: 42px;
  margin-top: 80px;
  margin-bottom: 0;
  line-height: 45px;
}
